{% extends "layouts/clean.html" %}

{% block head %}
 <script src="scripts/mod1.js"></script>
 <link rel="stylesheet" href="styles/mod1.css">
{% endblock %}

{% block body %}
<h1>this is index.html</h1>
{% include "svgs/test.svg" %}
{% endblock %}